#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# ──────────────────────────────────────────────────────────────────────────────
#
#  Copyright (c) 2020-2024 Emanuele Ballarin <emanuele@ballarin.cc>
#  Released under the terms of the MIT License
#  (see: https://url.ballarin.cc/mitlicense)
#
# ──────────────────────────────────────────────────────────────────────────────
#
# SPDX-License-Identifier: MIT
#
# ──────────────────────────────────────────────────────────────────────────────

# LIST OF REQUIREMENTS:
advertorch>=0.2.4  # pip install git+https://github.com/BorealisAI/advertorch.git
httpx>=0.27
matplotlib>=3.8
medmnist>=2.2.3
numpy>=1.24
pillow>=10.3.0
requests>=2.25
safe_assert>=0.5
torch-lr-finder>=0.2.1
torch>=2.5
torchattacks>=3.5.1
torchvision>=0.15
tqdm>=4.65
