#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# ------------------------------------------------------------------------------
#
#  Copyright (c) 2020-2023 Emanuele Ballarin <emanuele@ballarin.cc>
#  Released under the terms of the MIT License
#  (see: https://url.ballarin.cc/mitlicense)
#
# ------------------------------------------------------------------------------
#
# SPDX-License-Identifier: MIT
#
# ------------------------------------------------------------------------------

# LIST OF REQUIREMENTS:
advertorch>=0.2.3
matplotlib>=3.8
numpy>=1.24
requests>=2.25
torch>=2
torchattacks>=3.3
torchvision>=0.15
tqdm>=4.65
