#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# ──────────────────────────────────────────────────────────────────────────────
#
#  Copyright (c) 2020-2025 Emanuele Ballarin <emanuele@ballarin.cc>
#  Released under the terms of the MIT License
#  (see: https://url.ballarin.cc/mitlicense)
#
# ──────────────────────────────────────────────────────────────────────────────
#
# SPDX-License-Identifier: MIT
#
# ──────────────────────────────────────────────────────────────────────────────

advertorch>=0.2.3  # pip install git+https://github.com/BorealisAI/advertorch.git
distributed>=2024.12.1
httpx>=0.27
matplotlib>=3.8
medmnist>=3
numpy>=1.24
pillow>=9.5
PyYAML>=6.0.2
requests>=2.25
safe_assert>=0.5
safetensors>=0.5.3
setuptools>=75.8.2
thrmt>=0.0.6
torch>=2.5
torch-lr-finder>=0.2.1
torchattacks>=3.5.1
torchvision>=0.15
tqdm>=4.65
